<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.raj.pickeatup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/pickeatup"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pickeatup"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">

        <activity android:name=".WelcomeBottomNav"></activity>
        <activity android:name=".TrackOrder" />
        <activity android:name=".bookstores.CartListGstore16" />
        <activity android:name=".bookstores.CartListGstore20" />
        <activity android:name=".bookstores.CartListGstore19" />
        <activity android:name=".bookstores.CartListGstore18" />
        <activity android:name=".bookstores.CartListGstore15" />
        <activity android:name=".bookstores.CartListGstore17" />
        <activity android:name=".bookstores.CartListGstore14" />
        <activity android:name=".bookstores.CartListGstore13" />
        <activity android:name=".bookstores.CartListGstore12" />
        <activity android:name=".bookstores.CartListGstore11" />
        <activity android:name=".bookstores.CartListGstore10" />
        <activity android:name=".bookstores.CartListGstore9" />
        <activity android:name=".bookstores.CartListGstore8" />
        <activity android:name=".bookstores.CartListGstore7" />
        <activity android:name=".bookstores.CartListGstore6" />
        <activity android:name=".bookstores.CartListGstore5" />
        <activity android:name=".bookstores.CartListGstore4" />
        <activity android:name=".bookstores.CartListGstore3" />
        <activity android:name=".bookstores.CartListGstore2" />
        <activity android:name=".bookstores.CartListGstore1" />
        <activity android:name=".bookstores.Gstore20" />
        <activity android:name=".bookstores.Gstore19" />
        <activity android:name=".bookstores.Gstore18" />
        <activity android:name=".bookstores.Gstore17" />
        <activity android:name=".bookstores.Gstore16" />
        <activity android:name=".bookstores.Gstore15" />
        <activity android:name=".bookstores.Gstore14" />
        <activity android:name=".bookstores.Gstore13" />
        <activity android:name=".bookstores.Gstore12" />
        <activity android:name=".bookstores.Gstore11" />
        <activity android:name=".bookstores.Gstore10" />
        <activity android:name=".bookstores.Gstore9" />
        <activity android:name=".bookstores.Gstore8" />
        <activity android:name=".bookstores.Gstore7" />
        <activity android:name=".bookstores.Gstore6" />
        <activity android:name=".bookstores.Gstore5" />
        <activity android:name=".bookstores.Gstore4" />
        <activity android:name=".bookstores.Gstore3" />
        <activity android:name=".bookstores.Gstore2" />
        <activity android:name=".bookstores.Gstore1" />
        <activity android:name=".giftstores.CartListFstore20" />
        <activity android:name=".giftstores.CartListFstore19" />
        <activity android:name=".giftstores.CartListFstore18" />
        <activity android:name=".giftstores.CartListFstore17" />
        <activity android:name=".giftstores.CartListFstore16" />
        <activity android:name=".giftstores.CartListFstore15" />
        <activity android:name=".giftstores.CartListFstore14" />
        <activity android:name=".giftstores.CartListFstore13" />
        <activity android:name=".giftstores.CartListFstore12" />
        <activity android:name=".giftstores.CartListFstore11" />
        <activity android:name=".giftstores.CartListFstore10" />
        <activity android:name=".giftstores.CartListFstore9" />
        <activity android:name=".giftstores.CartListFstore8" />
        <activity android:name=".giftstores.CartListFstore7" />
        <activity android:name=".giftstores.CartListFstore6" />
        <activity android:name=".giftstores.CartListFstore5" />
        <activity android:name=".giftstores.CartListFstore4" />
        <activity android:name=".giftstores.CartListFstore3" />
        <activity android:name=".giftstores.CartListFstore2" />
        <activity android:name=".giftstores.CartListFstore1" />
        <activity android:name=".giftstores.Fstore20" />
        <activity android:name=".giftstores.Fstore19" />
        <activity android:name=".giftstores.Fstore18" />
        <activity android:name=".giftstores.Fstore17" />
        <activity android:name=".giftstores.Fstore16" />
        <activity android:name=".giftstores.Fstore15" />
        <activity android:name=".giftstores.Fstore14" />
        <activity android:name=".giftstores.Fstore13" />
        <activity android:name=".giftstores.Fstore12" />
        <activity android:name=".giftstores.Fstore11" />
        <activity android:name=".giftstores.Fstore10" />
        <activity android:name=".giftstores.Fstore9" />
        <activity android:name=".giftstores.Fstore8" />
        <activity android:name=".giftstores.Fstore7" />
        <activity android:name=".giftstores.Fstore6" />
        <activity android:name=".giftstores.Fstore5" />
        <activity android:name=".giftstores.Fstore4" />
        <activity android:name=".giftstores.Fstore3" />
        <activity android:name=".giftstores.Fstore2" />
        <activity android:name=".giftstores.Fstore1" />
        <activity android:name=".restaurantstores.CartListEstore20" />
        <activity android:name=".restaurantstores.CartListEstore19" />
        <activity android:name=".restaurantstores.CartListEstore18" />
        <activity android:name=".restaurantstores.CartListEstore17" />
        <activity android:name=".restaurantstores.CartListEstore16" />
        <activity android:name=".restaurantstores.CartListEstore15" />
        <activity android:name=".restaurantstores.CartListEstore14" />
        <activity android:name=".restaurantstores.CartListEstore13" />
        <activity android:name=".restaurantstores.CartListEstore12" />
        <activity android:name=".restaurantstores.CartListEstore11" />
        <activity android:name=".restaurantstores.CartListEstore10" />
        <activity android:name=".restaurantstores.CartListEstore8" />
        <activity android:name=".restaurantstores.CartListEstore9" />
        <activity android:name=".restaurantstores.CartListEstore7" />
        <activity android:name=".restaurantstores.CartListEstore6" />
        <activity android:name=".restaurantstores.CartListEstore5" />
        <activity android:name=".restaurantstores.CartListEstore4" />
        <activity android:name=".restaurantstores.CartListEstore3" />
        <activity android:name=".restaurantstores.CartListEstore2" />
        <activity android:name=".restaurantstores.CartListEstore1" />
        <activity android:name=".restaurantstores.Estore20" />
        <activity android:name=".restaurantstores.Estore19" />
        <activity android:name=".restaurantstores.Estore18" />
        <activity android:name=".restaurantstores.Estore17" />
        <activity android:name=".restaurantstores.Estore16" />
        <activity android:name=".restaurantstores.Estore15" />
        <activity android:name=".restaurantstores.Estore14" />
        <activity android:name=".restaurantstores.Estore13" />
        <activity android:name=".restaurantstores.Estore12" />
        <activity android:name=".restaurantstores.Estore11" />
        <activity android:name=".restaurantstores.Estore10" />
        <activity android:name=".restaurantstores.Estore9" />
        <activity android:name=".restaurantstores.Estore8" />
        <activity android:name=".restaurantstores.Estore7" />
        <activity android:name=".restaurantstores.Estore6" />
        <activity android:name=".restaurantstores.Estore5" />
        <activity android:name=".restaurantstores.Estore4" />
        <activity android:name=".restaurantstores.Estore3" />
        <activity android:name=".restaurantstores.Estore2" />
        <activity android:name=".restaurantstores.Estore1" />
        <activity android:name=".fastfoodstores.CartListDstore20" />
        <activity android:name=".fastfoodstores.CartListDstore19" />
        <activity android:name=".fastfoodstores.CartListDstore18" />
        <activity android:name=".fastfoodstores.CartListDstore17" />
        <activity android:name=".fastfoodstores.CartListDstore16" />
        <activity android:name=".fastfoodstores.CartListDstore15" />
        <activity android:name=".fastfoodstores.CartListDstore14" />
        <activity android:name=".fastfoodstores.CartListDstore13" />
        <activity android:name=".fastfoodstores.CartListDstore12" />
        <activity android:name=".fastfoodstores.CartListDstore11" />
        <activity android:name=".fastfoodstores.CartListDstore10" />
        <activity android:name=".fastfoodstores.CartListDstore9" />
        <activity android:name=".fastfoodstores.CartListDstore8" />
        <activity android:name=".fastfoodstores.CartListDstore7" />
        <activity android:name=".fastfoodstores.CartListDstore6" />
        <activity android:name=".fastfoodstores.CartListDstore5" />
        <activity android:name=".fastfoodstores.CartListDstore4" />
        <activity android:name=".fastfoodstores.CartListDstore3" />
        <activity android:name=".fastfoodstores.CartListDstore2" />
        <activity android:name=".fastfoodstores.CartListDstore1" />
        <activity android:name=".fastfoodstores.Dstore20" />
        <activity android:name=".fastfoodstores.Dstore19" />
        <activity android:name=".fastfoodstores.Dstore18" />
        <activity android:name=".fastfoodstores.Dstore17" />
        <activity android:name=".fastfoodstores.Dstore16" />
        <activity android:name=".fastfoodstores.Dstore15" />
        <activity android:name=".fastfoodstores.Dstore14" />
        <activity android:name=".fastfoodstores.Dstore13" />
        <activity android:name=".fastfoodstores.Dstore12" />
        <activity android:name=".fastfoodstores.Dstore11" />
        <activity android:name=".fastfoodstores.Dstore10" />
        <activity android:name=".fastfoodstores.Dstore9" />
        <activity android:name=".fastfoodstores.Dstore8" />
        <activity android:name=".fastfoodstores.Dstore7" />
        <activity android:name=".fastfoodstores.Dstore6" />
        <activity android:name=".fastfoodstores.Dstore5" />
        <activity android:name=".fastfoodstores.Dstore4" />
        <activity android:name=".fastfoodstores.Dstore3" />
        <activity android:name=".fastfoodstores.Dstore2" />
        <activity android:name=".fastfoodstores.Dstore1" />
        <activity android:name=".bookstores.BookStores" />
        <activity android:name=".giftstores.GiftStores" />
        <activity android:name=".restaurantstores.RestaurantStores" />
        <activity android:name=".fastfoodstores.FastfoodStores" />
        <activity android:name=".breakfaststores.CartListCstore20" />
        <activity android:name=".breakfaststores.CartListCstore19" />
        <activity android:name=".breakfaststores.CartListCstore18" />
        <activity android:name=".breakfaststores.CartListCstore17" />
        <activity android:name=".breakfaststores.CartListCstore16" />
        <activity android:name=".breakfaststores.CartListCstore15" />
        <activity android:name=".breakfaststores.CartListCstore14" />
        <activity android:name=".breakfaststores.CartListCstore13" />
        <activity android:name=".breakfaststores.CartListCstore12" />
        <activity android:name=".breakfaststores.CartListCstore11" />
        <activity android:name=".breakfaststores.CartListCstore10" />
        <activity android:name=".breakfaststores.CartListCstore9" />
        <activity android:name=".breakfaststores.CartListCstore8" />
        <activity android:name=".breakfaststores.CartListCstore7" />
        <activity android:name=".breakfaststores.CartListCstore6" />
        <activity android:name=".breakfaststores.CartListCstore5" />
        <activity android:name=".breakfaststores.CartListCstore4" />
        <activity android:name=".breakfaststores.CartListCstore3" />
        <activity android:name=".breakfaststores.CartListCstore2" />
        <activity android:name=".breakfaststores.CartListCstore1" />
        <activity android:name=".breakfaststores.Cstore20" />
        <activity android:name=".breakfaststores.Cstore19" />
        <activity android:name=".breakfaststores.Cstore18" />
        <activity android:name=".breakfaststores.Cstore17" />
        <activity android:name=".breakfaststores.Cstore16" />
        <activity android:name=".breakfaststores.Cstore15" />
        <activity android:name=".breakfaststores.Cstore14" />
        <activity android:name=".breakfaststores.Cstore13" />
        <activity android:name=".breakfaststores.Cstore12" />
        <activity android:name=".breakfaststores.Cstore11" />
        <activity android:name=".breakfaststores.Cstore10" />
        <activity android:name=".breakfaststores.Cstore9" />
        <activity android:name=".breakfaststores.Cstore8" />
        <activity android:name=".breakfaststores.Cstore7" />
        <activity android:name=".breakfaststores.Cstore6" />
        <activity android:name=".breakfaststores.Cstore5" />
        <activity android:name=".breakfaststores.Cstore4" />
        <activity android:name=".breakfaststores.Cstore3" />
        <activity android:name=".breakfaststores.Cstore2" />
        <activity android:name=".breakfaststores.Cstore1" />
        <activity android:name=".breakfaststores.BreakfastStores" />
        <activity android:name=".bakerystores.CartListBstore20" />
        <activity android:name=".bakerystores.CartListBstore19" />
        <activity android:name=".bakerystores.CartListBstore18" />
        <activity android:name=".bakerystores.CartListBstore17" />
        <activity android:name=".bakerystores.CartListBstore16" />
        <activity android:name=".bakerystores.CartListBstore15" />
        <activity android:name=".bakerystores.CartListBstore14" />
        <activity android:name=".bakerystores.CartListBstore13" />
        <activity android:name=".bakerystores.CartListBstore12" />
        <activity android:name=".bakerystores.CartListBstore11" />
        <activity android:name=".bakerystores.CartListBstore10" />
        <activity android:name=".bakerystores.CartListBstore9" />
        <activity android:name=".bakerystores.CartListBstore8" />
        <activity android:name=".bakerystores.CartListBstore7" />
        <activity android:name=".bakerystores.CartListBstore6" />
        <activity android:name=".bakerystores.CartListBstore5" />
        <activity android:name=".bakerystores.CartListBstore4" />
        <activity android:name=".bakerystores.CartListBstore3" />
        <activity android:name=".bakerystores.Bstore20" />
        <activity android:name=".bakerystores.Bstore19" />
        <activity android:name=".bakerystores.Bstore18" />
        <activity android:name=".bakerystores.Bstore17" />
        <activity android:name=".bakerystores.Bstore16" />
        <activity android:name=".bakerystores.Bstore15" />
        <activity android:name=".bakerystores.Bstore14" />
        <activity android:name=".bakerystores.Bstore13" />
        <activity android:name=".bakerystores.Bstore12" />
        <activity android:name=".bakerystores.Bstore11" />
        <activity android:name=".bakerystores.Bstore10" />
        <activity android:name=".bakerystores.Bstore9" />
        <activity android:name=".bakerystores.Bstore8" />
        <activity android:name=".bakerystores.Bstore7" />
        <activity android:name=".bakerystores.Bstore6" />
        <activity android:name=".bakerystores.Bstore5" />
        <activity android:name=".bakerystores.Bstore4" />
        <activity android:name=".bakerystores.Bstore3" />
        <activity android:name=".bakerystores.CartListBstore2" />
        <activity android:name=".bakerystores.Bstore2" />
        <activity android:name=".bakerystores.CartListBstore1" />
        <activity android:name=".bakerystores.Bstore1" />
        <activity android:name=".bakerystores.BakeryStores" />
        <activity android:name=".ThankYou" />
        <activity android:name=".PaymentVishwa" />
        <activity android:name=".AdressVishwa" />
        <activity android:name=".Restaurants" />
        <activity android:name=".CartListVishwa" />
        <activity android:name=".Vishwa" />
        <activity android:name=".GroceryStores" />
        <activity android:name=".Welcome" />
        <activity android:name=".VerifyOtp" />
        <activity android:name=".Otp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver android:name=".MyBackgroundProcess"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BackgroundProcess1" />

            </intent-filter>
        </receiver>



    </application>

</manifest>